.meals {
  margin: 2rem 10%;
  animation: mealsAppear 1s ease-out forwards;
}

.meals-loading {
  text-align: center;
  font-size: 1.2em;
}

.meals-error {
  text-align: center;
  font-size: 1.2em;
  color: red;
}

@keyframes mealsAppear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
